DATABASE_URL=postgresql://zaroor:Karthik%400306@locateus-projects.postgres.database.azure.com:5432/sktoursandtravels?sslmode=require
PORT = 5000

AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=locateus;AccountKey=xOgT44eizzbMz8IXBR2Q7uHCrSnjwqDWbCM1B/8tcVzRT4yNbF8qCT6d/XEI3KqjVxePju9rviqW+AStuEgDDw==;EndpointSuffix=core.windows.net
AZURE_STORAGE_CONTAINER_NAME=locateus
AZURE_STORAGE_ACCOUNT_NAME=locateus
AZURE_STORAGE_ACCOUNT_KEY=xOgT44eizzbMz8IXBR2Q7uHCrSnjwqDWbCM1B/8tcVzRT4yNbF8qCT6d/XEI3KqjVxePju9rviqW+AStuEgDDw==

KEY_SECRET=e598114cda235a977e0c9af3bfc97c1f3189e51cc14083943ba8b00bf12a84746e58693e185cd3e990402f6c101ef46eda84301f81e74b38dc807b4edf0dbc25

MAILTRAP_HOST=smtp.gmail.com
MAILTRAP_PORT=465
USERNAME=deepakavadhani.locateus@gmail.com
PASSWORD=mswwiemjpsgsyydt

NODE_ENV=development